
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NombreProyecto</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>
   <header class="header">

    <!-- Logo -->
    <div class="header-logo">
        <a href='@Url.Action("Index","Home")'>
            <img src="Imagenes/LOGO_SIMPLIFICADO.png" alt="LOGO">
        </a>
    </div>

    <!-- Menú principal -->
    <nav class="header-nav">
        <ul>
            <li><a href='@Url.Action("ViewDonar","Home")'>Donar</a></li>
            <li><a href='@Url.Action("ViewFinanciar","Home")'>Financiar</a></li>
            <li><a href='@Url.Action("Index","Home")'>Voluntariado</a></li>
        </ul>
    </nav>

    <!-- Zona derecha: perfil + hamburguesa -->
    <div class="header-right">

        @{
            string user = Context.Session.GetString("Usuario");
            bool isAuthenticated = !string.IsNullOrEmpty(user);
        }

        @if (isAuthenticated)
        {
            Usuario usuario = Objetos.StringToObject<Usuario>(user); 
                {<h2>¡Bienvenido, @usuario.nombre!</h2>}
        }
        else
        {
            <div class="header-login">
                <a class="boton" href='@Url.Action("Login","Home")'>Iniciar sesión</a>
                <a class="boton" href='@Url.Action("Registro","Home")'>Registrarme</a>
            </div>
        }

        <!-- Botón hamburguesa -->
        <div class="btn-hamburguesa" onclick="toggleMenu()">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
    </div>
<div id="overlay" class="overlay" onclick="toggleMenu()"></div>
    <!-- Sidebar -->
    <nav class="sidebar" id="sidebar">
        <div class="btn-cerrar" onclick="toggleMenu()">&times;</div>

        <ul>
            <li>Menú</li>
            <hr>
            <li><a href='@Url.Action("ViewHistorial","Home")'>Historial</a></li>
            <li><a href='@Url.Action("Index","Home")'>Mi agenda</a></li>
            <li><a href='@Url.Action("Index","Home")'>Desafíos semanales</a></li>
            <li><a href='@Url.Action("Index","Home")'>Certificados</a></li>
            <li><a href='@Url.Action("Index","Home")'>Mis logros</a></li>
            <li><a href='@Url.Action("Index","Home")'>Nuestra historia</a></li>

            <form action='@Url.Action("Desloguearse", "Home")' method="post">
                <li class="cerrarSesion">
                    <button type="submit">Cerrar sesión</button>
                </li>
            </form>
        </ul>
    </nav>

</header>


    <main role="main">
        @RenderBody()
    </main>

<footer class="footer">
<div class="logo">
<img src="~/Imagenes/LOGO_SIMPLIFICADO.png" alt="Logo" />
</div>


<div class="center">
<h3>Mejorá tu comunidad</h3>
<div class="social-icons">
<img src="~/Imagenes/facebook.png" alt="Facebook" />
<img src="~/Imagenes/insta.png" alt="Instagram" />
<img src="~/Imagenes/twitter.jpeg" alt="Twitter" />
<img src="~/Imagenes/tiktok.jpg" alt="TikTok" />
</div>
</div>


<div class="contact">
<div class="contact-item">
<img src="whatsapp.png" alt="WhatsApp" />
<span>+54 11 2093 8743</span>
</div>
<div class="contact-item">
<img src="email.png" alt="Email" />
<span>contacto@ayudactiva.org</span>
</div>
</div>
</footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>

</html>
